[Desktop Entry]
Type=Application
Version=1.0
Name=草稿
Comment=Lightweight Japanese manuscript editor
Exec=soukou %U
Icon=soukou
Terminal=false
Categories=Office;TextEditor;
MimeType=text/plain;x-scheme-handler/soukou;
StartupNotify=true
